/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/spinningjenny -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    max_cpus   = 8
    max_memory = '12.GB'
    max_time   = '6.h'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/spinningjenny/spinningjenny/values_spreadsheet.txt'
    template  = 'https://raw.githubusercontent.com/nf-core/test-datasets/spinningjenny/spinningjenny/template_netlogo_industrial_15.xml'
    nlogo = 'https://raw.githubusercontent.com/nf-core/test-datasets/spinningjenny/spinningjenny/Industrial-Revolution.nlogo'
    outdir = "full_out"

}
